{% extends "UekDemoBundle::bars.html.twig" %}

{% block header %}
	<h1>Lista Filmów</h1>
{% endblock %}
{% block content %}

	<div class="panel-body">
		{% if filmy|length == 0 %}
			<div class="alert alert-info" role="alert">Nie ma filmów w tym gatunku</div>
			{% else %}
			<table class="table table-hover">
				<thead>  
					<tr>  
						<th>Tytuł filmu</th>  
						<th>Opis</th> 
						<th>Opłata</th> 
					</tr>  
				</thead>  
			<tbody>
			{% for item in filmy %}
				<tr>	 
					<td>{{ item.tytulfilmu|upper }}</td> 
					<td>{{ item.opis }}</td> 
					<td>{{ item.oplata }}</td>
				</tr>	 
			{% endfor %}
			</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}