{% extends "UekDemoBundle::bars.html.twig" %}

{% block header %}
	<h3>Najpopularniejsze Filmy</h3>
{% endblock %}
{% block content %}

	<div class="panel-body">
		{% if popularneFilmy|length == 0 %}
			<div class="alert alert-info" role="alert">Nikt jeszcze nie dodał recenzji do filmów</div>
		{% else %}
			<table class="table table-hover">
				<thead>  
					<tr>  
						<th>IdFilmu</th> 
						<th>Tytuł</th>
						<th>Ilość wypożyczeń</th>
					</tr>  
				</thead>  
				<tbody>
					{% for item in popularneFilmy %}
						<tr>	 
							<td>{{ item.idfilmu }}</td> 
							<td><a href="{{path('uek_demo_filmy_see', {'id': item.idfilmu})}}">{{ item.tytulfilmu|upper }}</a></td>
							<td>{{ item.ilosc }}</td>
							
						</tr>	 
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

{% endblock %}
