{% extends "UekDemoBundle::layout.html.twig" %}

{% block menu %}
	<ul class="list-group">
		<li class="list-group-item"><a href="{{path('uek_demo_homepage')}}"><span class="glyphicon glyphicon-home"></span> Strona Główna</a></span></li>
		<li class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> Lista recenzji</a></li>
		<li class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Dodaj recenzję filmu</a></li>
	</ul>			
{% endblock %}