{% extends "UekDemoBundle::bars.html.twig" %}

{% block main %}
	{% for item in ilosc %}
		<span class="badge">{{item.ilosc}}</span>
	{% endfor %}	
{% endblock %}

{% block header %}
	<h3>FILMY</h3>
{% endblock %}

{% block content %}
	<div class="col-xs-12 col-md-6">
		<img src="{{asset('bundles/uekdemo/images/film.jpg')}}" alt="film" class="img-thumbnail">
	</div>
{% endblock %}	
