{% extends "UekDemoBundle::bars.html.twig" %}

{% block header %}
	<h1>FILMY</h1>
{% endblock %}
{% block content %}
<div class="col-xs-12 col-md-6">
		<img src="{{asset('bundles/uekdemo/images/book.jpg')}}" alt="book" class="img-thumbnail">
	</div>
{% endblock %}	
